#container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;

    background-color: black;
    width: 800px;
    height: 200px;
    margin: auto;
    border-radius: 20px;
   padding: 20px;

}
#container>div
{
    background-size: contain;
    margin: auto;
  
    
}
.botao{
    padding: 10px;
    margin-bottom: auto;
   
}
.botao2
{
    padding: 10px;
    margin-bottom: auto;
    background-color: chartreuse;
    color: black;
    box-shadow: floralwhite;
    border-bottom-color: floralwhite;
    border-radius: 10px;
    font-size: 15pt;
}
section{
    background-image: url("fundo.jpg");
    width: 900px;
    height: 500px;
    margin: auto;
}
header{
    text-align: center;
    background-color:black;
    color: chartreuse;
    width: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    font-size: 20pt;
}
body{
    background-color:grey
}
footer{
    text-align: center;
}
#res{
    width: 100px;
    height: 100px;
    background-color: black;
    color: chartreuse;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: 20pt;
    border-radius: 20px;
}